{% extends "index.njk" %} {% block body %}

<section>
  <div
    class="containerWrapperProduct flex flex-row items-center justify-center p-11 gap-10"
  >
    <div class="imageProduct">
      <figure>
        <img src="/static/img/llanera-burguer.jpg" alt="" />
      </figure>
    </div>
    <div class="detailProduct">
      <h3 class="text-3xl font-bold">Llanera</h3>
      <span>
        <h4>Descripcion</h4>

        <ul class="list-disc mt-4">
          <li>Carne molida (res)</li>
          <li>Pan de hamburguesa</li>
          <li>Lechuga</li>
          <li>Tomate en rodajas</li>
          <li>Cebolla</li>
          <li>Salsas (mayonesa, ketchup, o mostaza)</li>
          <li>Sal y pimienta al gusto</li>
        </ul>
      </span>
      <button
        class="bg-[#E7B91B] font-bold text-black px-9 py-0.5 rounded-full mt-4"
      >
        Comer ahora!
      </button>
    </div>
  </div>
</section>

<section class="bg-[#F8F8F8]">
  <div class="containerBurguer">
    <div class="wrapperburger flex flex-col py-12 px-12">
      <h2 class="text-2xl font-bold">Antojate de otra</h2>
      <div class="bodyCardsList">
        <div class="cardsList flex gap-5 text-2xl font-bold text-center">
          <div class="cards">
            <figure>
              <img src="/static/img/hamburguesa(1).png" alt="" />
            </figure>
            <h4>Cowboy Burger</h4>
          </div>
          <div class="cards">
            <figure>
              <img src="/static/img/hamburguesa(4).png" alt="" />
            </figure>
            <h4>Cheeseburger</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
