<footer>
  <div class="footercontainer bg-black p-9">
    <div class="footerWrapper flex flex-row justify-between items-center">
      <div class="containerLogo flex flex-col gap-2">
        <figure>
          <img class="w-[200px]" src="/static/img/logo-hamburguesas2.svg" alt=""/>
        </figure>
        <div class="siguenos flex flex-row items-center gap-5">
          <h3 class="text-white text-xl font-bold">Siguenos</h3>
          <figure>
            <img class="cursor-pointer" src="/static/img/insta.svg" alt=""/>
          </figure>
          <figure>
            <img class="cursor-pointer" src="/static/img/face.svg" alt=""/>
          </figure>
        </div>
      </div>
      <div class="containerMenu">
        <nav class="navFooter flex flex-col py-4 text-white">
          <ul class="ulFooter flex flex-col gap-2 text-center">
            <h3 class="text-xl font-bold">Menu</h3>
            <li>
              <a href="/">Inicio</a>
            </li>
            <li>
              <a href="/#menu">Menu</a>
            </li>
            <li>
              <a href="/#register">Register</a>
            </li>
            <li>
              <a href="/#register">Login</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="containerStreet text-white text-center">
        <h3 class="text-xl font-bold">Direccion</h3>
        <span>
          <p>Avenida Siempre viva 742</p>
        </span>
      </div>

      <div class="containerMaps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63726.74574586723!2d-76.60365025136718!3d3.3693386999999952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a1747e8914dd%3A0xa58a629345d8d90b!2sBurger%20King%20Jardin%20Plaza!5e0!3m2!1ses!2sco!4v1730246974792!5m2!1ses!2sco" width="300" height="300" style="border: 0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</footer>